body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  
  /* Change the heading size to 200%, give it a margin all around, and assign font family to serif */
  h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
  }

  nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9C6ae;
  font-weight: bold;
  text-decoration: none;
  margin: 25px;
}



@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}