body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
  }
  /* Controls the top of the page with the links */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  
  /* color of headding 1*/
  h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
  }

  h2{
    margin: 25px;
    font-family: serif;

}



  nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9C6ae;
  font-weight: bold;
  text-decoration: none;
  margin: 25px;
}

section {
  flex: 1 1 0;
  padding-left: 40%;
}

/* Moving the text in the asside section */
aside{
  
  margin: 10px;
}


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}