body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
  }

  /* Controls the top of the page with the links */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items:end;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }

  /* Student photo */
  
   /* color of headding 1*/
  
  h1 {
    margin: 1%;
    font-size: 300%;
    font-family: serif;
  }

  h2{
   text-align: left;

  }

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-items: center;
  list-style: none;
}

/* Remember to make this different */

nav ul {
margin: 0 30px;
font-weight:lighter;

}

nav a {
  color: #b9C6ae;
  font-weight: bold;
  text-decoration: none;
  margin: 25px;
}

nav ul {
  text-decoration: underline;
}

section {
  flex: 1 1 0;
  padding-left: 0%;
}

/* Image sectoin */

img{
  width: 200px;
  height: 200px;
  margin: -10px; 
}


/* working on paragraph 1 */
.Den-paragraph p{
  text-align: center;
}

/* Moving the text in the asside section */
.border {
  border-right: 3px solid #39a6b2;
  height: 150px;
  flex: 2 1%;
}